:root {
  --swiper-theme-color: #00000050;
  --swiper-navigation-color: #00000070;
  --swiper-pagination-color: #00000070;
  --swiper-pagination-right: 2rem;
  --swiper-navigation-size: 2.5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  text-transform: uppercase;
}

.star-ratings {
  display: inline-flex !important;
}

.star-container {
  display: inline-flex !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
