:root {
  --swiper-theme-color: #00000050;
  --swiper-pagination-right: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2{
  text-transform: uppercase;
}
