:root {
  --swiper-theme-color: #00000050;
  --swiper-navigation-color: #00000070;
  --swiper-pagination-color: #00000070;
  --swiper-pagination-right: 2rem;
  --swiper-navigation-size: 2.5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  text-transform: uppercase;
}
